li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  background: url(/img/diego-gutierrez-NRn5rrBnH8w-unsplash\ 1.png) no-repeat center/cover;
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
.header-nav-left {
  display: flex;
  align-items: center;
  -moz-column-gap: 62px;
       column-gap: 62px;
}
.header-nav-list {
  display: flex;
  -moz-column-gap: 62px;
       column-gap: 62px;
}
.header-nav-list__item {
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
}
.header-nav__search {
  margin-right: 62px;
  cursor: wait;
}
.header-prikol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 277px;
  margin-top: 195px;
}
.header-prikol__title {
  color: white;
  font-size: 120px;
}
.header-prikol__button {
  padding: 26px 64px;
  color: white;
  background: #DD2242;
  border-radius: 35px;
  border: none;
  font-size: 20px;
}
.header-reklama {
  background: rgba(0, 0, 0, 0.475);
  display: flex;
  justify-content: flex-end;
}
.header-reklama-fragment {
  height: 120px;
  width: 170px;
}
.header-reklama-fragment__num {
  color: red;
}
.header-reklama-fragment__title {
  color: white;
}
.header-reklama-fragment__text {
  color: rgba(255, 255, 255, 0.571);
}

.main {
  background: rgb(3, 3, 43);
}
.main-top {
  display: flex;
  align-items: center;
}
.main-top__photo {
  width: 460px;
  height: 300px;
  padding-left: 340px;
  padding-right: 130px;
  margin-top: 207px;
}
.main-top-block__title {
  color: white;
  font-size: 38px;
}
.main-top-block__text {
  color: white;
}
.main-top-block__button {
  background: #DD2242;
  border: none;
  border-radius: 20px;
  margin-top: 32px;
  padding: 16px 41px;
  color: white;
}

.explore {
  background: url(/img/abstract-geometric-line-background_889452-56807.avif);
}
.explore-numbers {
  color: white;
}
.reviews-cards {
  display: flex;
  justify-content: center;
}
.reviews-cards-item {
  width: 255px;
  height: 292px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 49px 9px 29px 18px;
  border-radius: 15px;
}