@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.header {
  background: url(/img/дотка.jpg) no-repeat center/cover;
  min-height: 100vh;
  position: relative;
  color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 60px;
}
.header-list {
  display: flex;
  gap: 50px;
}
.header-list__item {
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  color: #eeeeee;
  transition: color 0.3s;
}
.header-list__search {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.header-prikol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 277px;
  margin-top: 195px;
}
.header-prikol__title {
  font-size: 90px;
  line-height: 1;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}
.header-prikol__button {
  padding: 20px 50px;
  font-size: 18px;
  border-radius: 35px;
  border: none;
  background-color: #DD2242;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}
.header-reklama {
  background: rgba(0, 0, 0, 0.475);
  display: flex;
  justify-content: flex-end;
}
.header-reklama-fragment {
  height: 120px;
  width: 170px;
}
.header-reklama-fragment__num {
  color: red;
}
.header-reklama-fragment__title {
  color: white;
}
.header-reklama-fragment__text {
  color: rgba(255, 255, 255, 0.571);
}

.main {
  background: #f5f5f5;
  font-family: "Poppins", sans-serif;
}
.main-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  max-width: 1400px;
  padding-top: 20px;
}
.main-top__photo {
  width: 460px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.main-top-block__title {
  font-size: 38px;
  color: #333;
  margin-bottom: 20px;
}
.main-top-block__text {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}
.main-top-block__button {
  background-color: #DD2242;
  color: white;
  padding: 16px 41px;
  border: none;
  border-radius: 20px;
  margin-top: 32px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.main-bot {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  max-width: 1400px;
  padding-bottom: 30px;
}
.main-bot__photo {
  width: 460px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.main-bot-block {
  margin-top: 260px;
  margin-left: 383px;
}
.main-bot-block__title {
  font-size: 38px;
  color: #333;
  margin-bottom: 20px;
}
.main-bot-block__text {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}
.main-bot-block__button {
  background-color: #DD2242;
  color: white;
  padding: 16px 41px;
  border: none;
  border-radius: 20px;
  margin-top: 32px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.explore {
  background: #f5f5f5;
  text-align: center;
}
.explore-title {
  color: #333;
}
.explore-number {
  color: #333;
}
.explore-number-start {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;
}
.explore-number__desc {
  width: 400px;
  color: #666;
}
.score-number-cards {
  display: flex;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
}
.score-number-cards-item {
  width: 20%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.reviews {
  background: #f5f5f5;
  padding-top: 30px;
  padding-bottom: 100px;
}
.reviews__title {
  text-align: center;
  color: #333;
  font-size: 30px;
}
.reviews-card {
  display: flex;
  justify-content: space-between;
  padding: 20px 120px;
}
.reviews-card-item {
  width: 255px;
  background: #eee;
  color: #666;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 49px 9px 29px 18px;
  border-radius: 15px;
}
.reviews-card-item-avatar {
  height: 20px;
  width: 20px;
}
.reviews-card-item-desc-dop {
  color: #DD2242;
  font-weight: 900;
  font-family: "Bangers", system-ui;
}
.reviews-card-item:nth-child(1) {
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
.reviews-card-item:nth-child(2) {
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}
.reviews-card-item:nth-child(3) {
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.reviews-card-item-avatar {
  height: 20px;
  width: 20px;
}

.footer {
  padding: 40px 200px;
  background: black;
  color: white;
}
.footer-top {
  display: flex;
  justify-content: space-between;
}
.footer-top-right {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.footer-top-right-question {
  font-size: 20px;
}
.footer-bottom-left-question {
  font-size: 20px;
}